.Logo {
	background-color: #fff;
	padding: 8px;
	height: 100%; 
	/* from initail 80% to make 
		a more reusable logo component, and adjust/
		control the height where we use it
	*/
	box-sizing: border-box;
	border-radius: 5px;
}

.Logo img {
	height: 100%;
}