.NavLink {
	margin: 10px 0;
	box-sizing: border-box;
	display: block;
	width: 100%;
}

.NavLink a {
	color: #8f5c2c;
	text-decoration: none;
	width: 100%;
	box-sizing: border-box;
	display: block;
}

.NavLink a:hover,
.NavLink a:active,
.NavLink a.active {
	color: #40a4c8
}

/* desktop styles*/
@media (min-width: 500px) {
	.NavLink {
		margin: 0;
		display: flex;
		height: 100%;
		width: auto;
		align-items: center;
	}
	
	.NavLink a {
		color: white;
		height: 100%;
		padding: 16px 10px;
		border-bottom: 4px solid transparent;
		
	}
	
	.NavLink a:hover,
	.NavLink a:active,
	.NavLink a.active {
		background-color: #8f5c2c;
		border-bottom: 4px solid #40a4c8;
		color: white;
	}
}